babel==2.18.0
black==25.9.0
flake8==7.3.0
ipdb==0.13.4
ipython==8.32.0
lingua==4.16.2
mock==5.2.0
pydevd==3.5.0
pyramid_debugtoolbar==4.12.1
pyramid_ipython==0.2
pytest==8.3.4
sphinx==7.1.2
sphinx_rtd_theme==3.1.0
webtest==3.0.1
