{% extends layout %}
{% block content %}
<div class="container {{ 'issue-view' if issue else '' }}">

  <ol class="breadcrumb">
    <li><a href="{{request.route_url('c2cgeoform_index')}}">{{_('Issues')}}</a></li>
    <li class="active">{{request.translate(item_name[:80]) if item_name else _('Issue')}}</li>
  </ol>

  {% include 'c2cgeoform:/templates/edit.jinja2' %}

</div>
{% endblock content %}

{% block scripts %}
<script>
  (function() {
    let oid = '{{form['geometry'].oid}}'
    let params = new URL(window.location).searchParams
    let [x, y, z] = ['x', 'y', 'z'].map(_ => params.get(_))
    if (!x || !y || !z) {
      return
    }
    deform.addCallback(oid, function () {
      let map = c2cgeoform.getObjectMap(oid)
      if (map.getLayers().item(1).getSource().getFeatures().length === 0) {
        map.getView().setCenter([params.get('x'), params.get('y')].map(parseFloat))
        map.getView().setZoom(parseFloat(params.get('z')))
      }
    })
  })()
</script>
{% endblock scripts %}
