{% extends 'c2cgeoform:/templates/grid.jinja2' %}
{% block calculateTableHeightJS %}
return $(window).height() - $('footer').height() - $('header').height() - 30
{% endblock %}
{% block grid %}
{{ super() }}
<script>
  $(function() {
     const bsTable = $('#grid')
     let dataUrl = bsTable.data()['bootstrap.table'].options.url
     let openIssues = '{{request.localizer.translate("Get open")}}'
     let allIssues = '{{request.localizer.translate("Get all")}}'
     let fetchIssues = function () {
         $(this).find("span").toggleClass("toggle-visible-issues")
         bsTable.data()['bootstrap.table'].options.url =
             (bsTable.data()['bootstrap.table'].options.url === dataUrl) ? (dataUrl + '?all=True') : dataUrl
         bsTable.bootstrapTable('refresh')
     }
    let element = $('<button/>', {class: 'btn btn-default'})
        .append(`<span>${openIssues}</span>`)
        .append(`<span class="toggle-visible-issues">${allIssues}</span>`)
        .click(fetchIssues)

    const buttonGroup = $('.list-grid .btn-group.pull-right')
    buttonGroup.append(element)

  })
</script>
{% endblock %}
