/* For the footer */
html, body {
  min-height: 100%;
}
html {
  position: relative;
}


.jumbotron .small {
  font-size: 65%;
}
.breadcrumb {
  margin-top: 1em;
}

/* For the status ribbon */
.container .panel-body {
  position: relative;
  overflow: hidden;
}

/*
 * Public issues table
 */
.app-getitfixed .fixed-table-pagination {
  padding: 0 0.75em;
}

.app-getitfixed .pull-right.search {
  float: none !important;
}

/*
 * Forms
 */
.form-panel > .panel-footer {
  position: static;  /* Override c2cgeoform panel-footer sticky */
}

/*
 * New issue form
 */
@media (min-width: 992px) {
  .issue-view .deform .form-group {
    float: left;
    width: 50%;
  }
  .issue-view .deform .item-geometry {
    width: 100%;
  }
}

/* Status field */
.issue-view .deform .item-status {
  float: none;
}
.item-status label {
  display: none;
}
.panel-body .item-status p {
  font-size: 0.9em;
  position: absolute;
  right: -4em;
  top: 4em;
  background-color: #17a2b8;
  color: white;
  font-weight: bold;
  padding: 1em;
  transform: rotate(45deg);
  box-shadow: 0px 0 2px rgba(0,0,0,0.5);
  width: 20em;
  text-align: center;
  z-index: 10;
}

/*
 * Event field
 */
.item-events .item-comment label {
  display: none;
}
.item-events .panel-heading {
  display: none;
}

.item-events .panel-body .item-status p {
  transform: rotate(0deg);
  min-height: auto;
  right: 1em;
  margin: -0.5em;
  width: auto;
  top: 1em;
  border-radius: 4px;
  padding: 0.25em 1em;
}

.item-events .form-group.row.deform-seq-item {
  padding-right: 0.5em;
}

.item-events .deform-seq > .panel.panel-default {
 border: None;
}
.form-group.item-events label {
  display: None;
}

#existing_events_form > .panel.panel-default {
  border: None;
}


/*
 * Footer
 */
.content {
  padding-bottom: 4em;
}
footer {
  border-top: 1px solid #ddd;
  background: #f7f7f7;
  position: absolute;
  bottom: 0;
  padding: 1em;
  width: 100%;
  height: 4em;
  z-index: 100;
}
