{% extends "layout.jinja2" %}

{% block content %}
{% if request.c2cgeoform_application.name()=='getitfixed' %}
<div class="jumbotron">
  <p class="container">
    <a class="btn btn-danger btn-lg" href="{{request.route_url('c2cgeoform_item', id='new')}}" role="button">{{_('Report an issue')}}</a>
    <span class="small">{{_("If you can't find it in the list below")}}</span>
  </p>
</div>
{% endif %}
<div class="container">
{% if request.c2cgeoform_application.name()=='getitfixed' %}
  {% include 'getitfixed:/templates/grid.jinja2' %}
{% else %}
  {% include 'getitfixed:/templates/admin/grid.jinja2' %}
{% endif %}
</div>
{% endblock content %}
